@inject NavigationManager Navigation
@rendermode InteractiveServer

<div class="top-row px-4">
    <EditForm Model="Model" OnValidSubmit="@Logout" FormName="logout">
        <button class="btn btn-outline-primary">Logout</button>
        </EditForm>
    
</div>

@code {
    private LoginModel Model = new();
    private void Logout()
    {

        Console.WriteLine("Logout button clicked");
        Navigation.NavigateTo("/auth/logout", forceLoad: true);
    }
} 